.bloque-titulo-pub {
    margin-bottom: 20px;
    border-bottom: lightgray 1px solid;
}

#titulo_publicacion {
    padding-bottom: 5px;

    display: inline-block;
}

.numero-publicacion {
    display: inline-block;
    float: right;
    color: grey;
    font-size: 18px;
    
}

#foto_publicacion {
    float: left;

    text-align: center;

    width: 40%;
}

#foto_publicacion > a > img {
    border: lightgray 2px solid;
}

#info_publicacion {
    float: right;

    width: 60%;

    border-left: lightgray 2px solid;
    padding-left: 5%;
}

#contacto_publicacion {
    clear: both;

    display: block;

    text-align: center;
}

#contacto_publicacion > button {

    text-align: center;


    background-color: darkcyan;
    color: white;

    font-size: 18px;
    padding: 5px 20px;
    margin: 20px 0px;

    border-radius: 40px;
    border: rgb(2, 95, 95) 1px solid;

    text-decoration: none;
}
