
a:link{
  font-size: 120%;
  text-decoration:none;
  padding-left: 20px;
}
a:hover {
  color:#2ECC71; 
}
h1 {
  color: #199B2C; 
  font-size: 150%;
  margin: 20px;
  text-align: center;
}
h3 {
  color: #199B2C; 
  font-size: 70%;
  margin: 20px;
  text-align: center;
}
form {
  border: 2px solid #199B2C; 
  border-radius: 10px;
  margin: 10px;
  font-size: 120%;
  align-self: center;
}
table {
  border: 2px solid #199B2C; 
  border-radius: 10px;
  margin: 10px;
  font-size: 90%;
  align-self: center;
  color: #199B2C; 
}
label {
  font-size: 110%;
  padding: 5px;
  text-align: left;
  margin: 5px;
}
.inputs {
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  margin: 5px;
}
.contenedor {
  text-align: center;
  display: inline-block;
}
#fotos {
  color: #199B2C; 
  font-size: 70%;
  margin: 20px;
  text-align: center;
}
p {
  color: #199B2C; 
  font-size: 150%;
  margin: 20px;
  text-align: center;
}
.imagenes {
    display: inline-block;
    position: relative;
    object-fit: cover;
    width:200px;
    height:200px;
}

  

#boton_encontrada{

  display: inline-block;

  padding: 10px 20px;

  text-decoration: none;
  color: white;

  font-size: 20px;

  border-radius: 20px;

  min-width: 200px;

  text-align: center;

  background-color: rgb(12, 100, 216);

  margin-left: 200px;

  float: left;

}

#boton_perdida{

  display: inline-block;

  padding: 10px 20px;

  text-decoration: none;
  color: white;

  font-size: 20px;

  border-radius: 20px;

  min-width: 200px;

  text-align: center;

  background-color: rgb(3, 173, 80);

  float: right;

  margin-right: 200px;

}



