/*   ------------------   LOGIN Y LOGOUT   ------------------   */

#login_logout{
  background-color: rgb(41, 41, 41);

  overflow: hidden;
}

#login_logout > a {

  display: inline-block;

  padding:  2px 10px 0px 10px;

  color: white;

  text-decoration: none;
  border-bottom: rgb(41, 41, 41) 2px solid;

  float: right;
}

#login_logout > a:hover {
  border-bottom: grey 2px solid;
}


/*   ------------------   HEADER PRINCIPAL   ------------------   */

#header_principal {
  padding: 15px 20px;

  background-color: white;

  border-bottom: lightgray 1px solid;

  overflow: hidden;

  position: sticky;
  top: 0;

  z-index: 1;
}

#logotipo {
  margin: 0;
  float: left;
}

#encontrado_perdido {
  display: inline-block;

  float: right;

  position: relative;
  top: 9px;
}

#boton_encontrada{
  display: inline-block;

  padding: 8px 16px;

  text-decoration: none;
  color: white;
  font-size: 18px;

  border-radius: 20px;
  min-width: 250px;
  text-align: center;

  background-color: royalblue;

  margin-right: 16px;
}

#boton_perdida{

  display: inline-block;

  padding: 8px 16px;

  text-decoration: none;
  color: white;

  font-size: 18px;

  border-radius: 20px;

  min-width: 250px;

  text-align: center;

  background-color: rgb(3, 173, 80);
}

#boton_encontrada:hover, #boton_perdida:hover {
  filter:brightness(0.6);
}








.imagenes{
  display: inline-block;
  position: relative;
  object-fit: cover;
  width:200px;
  height:200px;
}








