#centrar {
    text-align: center;
}

#ir_inicio {
    text-align: center;


    background-color: rgb(3, 173, 80);
    color: white;

    font-size: 18px;
    padding: 5px 20px;
    margin: 20px 0px;

    border-radius: 40px;


    text-decoration: none;
}
