{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MascotasPerdidas.uy | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <img src="{% static 'img/Logo.png' %} "alt="logo">
    <div class="contenedor">
        <img class="imagen" src="{% static 'img/Titulo.png' %}" alt="Titulo" >
    </div>

        
    <article style="overflow: hidden;">
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'nuevo_ingreso_encontrado' %}" id="boton_encontrada">Encontraste una mascota?</a>
        <a href="{% url 'nuevo_ingreso_perdido' %}"id="boton_perdida">Perdiste una mascota?</a>
    </article>

    <h1>
        Bienvenido al portal de mascotas!
    </h1>

    <section>
        {% block contenido %}

        {% endblock %}
    </section>

    <h3>
        Gracias por su visita
    </h3>
</body>
</html>