{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MascotasPerdidas.uy | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block javascript %}{% endblock %}

</head>




<body>

    {% if user.is_authenticated %}
        <div>
            <a href="#">Usuario {{ user.username }}</a>
            <a href="{% url 'logout' %}">Cerrar sesion</a>  <!-- se importa automaticamente en el path de login -->
            {% else %}
            <a href="{% url 'login' %}">Iniciar sesion</a>
            <a href="{% url 'registro_usuario' %}">Registrarse</a>
        </div>

    
        
    {% endif %}

    <header>

        <figure>
            <a href="{% url 'home' %}">
                <img src="{% static 'img/Logo.png' %} "alt="logo" height="60px">
            </a>
        </figure>
        
    </header>
    


        
    <article style="overflow: hidden;">
        <a href="{% url 'nuevo_ingreso_encontrado' %}" id="boton_encontrada">Encontraste una mascota?</a>
        <a href="{% url 'nuevo_ingreso_perdido' %}"id="boton_perdida">Perdiste una mascota?</a>
        <a href="{% url 'listado_publicaciones' %}">Listado de publicaciones</a>
    </article>

    <h1>
        Bienvenido al portal de mascotas!
    </h1>

    <section>
        {% block contenido %}

        {% endblock %}
    </section>

    <h3>
        Gracias por su visita
    </h3>
</body>
</html>