{% extends 'base.html' %}



{% block title %}
    Historial
{% endblock %}

<section id="seccion_principal">
    {% block contenido %}

    <div class="white">
        <div id="container" id="fh5co-features">
            <h2>Historial de mascotas reencontradas</h2>
            <span class="subtitulo_home">!Estas son las mascotas que pudieron encontrar a sus dueños!</span>
            <div class="row">
                {% for m in historial %}
                    {% if m.imagen %}
                    <div class="col-sm-4 animate-box">
                        <div class="bordery">
                            {% if m.estado == 'FINALIZADO' %}
                            <figure id= "fotos">
                                <a href="{% url 'Ver_historial' m.id %}">
                                    <img src="{{ m.imagen.url }}" alt="" class="imagenes_perdido">
                                </a>
                            </figure>
                            {% endif %}
                        </div>
                    </div>    
                    {% endif %}   
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
</section>
