{% extends 'base.html' %}



{% block title %}
    Historial
{% endblock %}

<section id="seccion_principal">
    {% block contenido %}

    <div class="white">
        <div class="container" id="fh5co-features">
            <div class="heading animate-box"><h2><b><span class="nav-brand">Historial de mascotas reencontradas</span></b></h2></div>
            <div class="row">
                {% for m in historial %}
                    {% if m.imagen %}
                    <div class="col-sm-4 animate-box">
                        <div class="bordery">
                            {% if m.estado == 'FINALIZADO' %}
                            <figure id= "fotos">
                                <a href="{% url 'ver_publicacion' m.id %}">
                                    <img src="{{ m.imagen.url }}" alt="" class="imagenes_perdido">
                                </a>
                                <figcaption class="features" aria-hidden="true">{{ m.estado }} EN: {{ m.barrio }}</figcaption>
                            </figure>
                            {% endif %}
                        </div>
                    </div>    
                    {% endif %}   
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
</section>
