{% extends 'base.html' %}

{% load static %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'js/confirmacion_p_eliminado.js' %}"></script>
    <script src="{% static 'js/Finalizar.js' %}"></script>
{% endblock %}


{% block title %}
    Listado Publicaciones
{% endblock %}



{% block contenido %}

{% if user.is_authenticated %}
    <h3>Listado de publicaciones</h3>
    <p>Aquí podrás modificar y eliminar tus publicaciones. <br>
        Desde el equipo de MascotasPerdidas.uy agredecemos que finalices la publicación una vez hayas contactado con el dueño o cuidador. Gracias!</p>
    <table class="table table-striped">
        <tr>
            <th>Estado</th>
            <th>Barrio</th>
            <th>Tipo</th>
            <th>Raza</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Mail</th>
            <th>Telefono</th>
            <th>Opciones</th>
            
        </tr>
        {% for l in listado %}
            {% if user.email == l.mail %}
                <tr>
                    <th>{{ l.estado|title }}</th>
                    <th>{{ l.barrio|title }}</th>
                    <th>{{ l.tipo|title }}</th>
                    <th>{{ l.raza|title }}</th>
                    <th>{{ l.fecha }}</th>
                    <th>{{ l.nombre }}</th>
                    <th>{{ l.mail }}</th>
                    <th>{{ l.telefono }}</th>
                    <th>
                        <a href="{% url 'modificar_publicaciones' l.id %}"><img src="{% static 'img/edit.png' %}" alt="Editar" height="20px"></a>
                        <a href="#" onclick="ConfirmarEliminacion({{l.id}})"><img src="{% static 'img/delete.png' %}" alt="Eliminar" height="20px"></a>
                        {% if l.estado != 'FINALIZADO' %}
                            <a href="#" onclick="Finalizar({{l.id}})">Finalizar</a>
                        {% endif %}

                    </th>
                </tr>

            {% endif %}
        {% endfor %}
    </table>

{% else %}
    <h3>Debe iniciar sesión para ver el listado</h3>
    
{% endif %}


{% endblock %}