{% extends 'base.html' %}

{% load static %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'js/confirmacion_p_eliminado.js' %}"></script>
{% endblock %}


{% block title %}
    Listado Publicaciones
{% endblock %}



{% block contenido %}

{% if user.is_authenticated %}
    <h3>Listado de publicaciones</h3>
    <table class="table table-striped">
        <tr>
            <th>Estado</th>
            <th>Barrio</th>
            <th>Tipo</th>
            <th>Raza</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Mail</th>
            <th>Telefono</th>
            <th>Opciones</th>
            
        </tr>
        {% for l in listado %}
            {% if user.email == l.mail %}
                <p>Aquí podrás modificar y eliminar tus publicaciones. <br>
                    Desde el equipo de MascotasPerdidas.uy agredecemos que elimines la publicación una vez hayas contactado con el dueño o cuidador. Gracias!</p>
                <tr>
                    <th>{{ l.estado }}</th>
                    <th>{{ l.barrio }}</th>
                    <th>{{ l.tipo }}</th>
                    <th>{{ l.raza }}</th>
                    <th>{{ l.fecha }}</th>
                    <th>{{ l.nombre }}</th>
                    <th>{{ l.mail }}</th>
                    <th>{{ l.telefono }}</th>
                    <th>
                        <a href="{% url 'modificar_publicaciones' l.id %}">Modificar</a>
                        <a href="#" onclick="ConfirmarEliminacion({{l.id}})">Eliminar</a>
                    </th>
                </tr>

            {% endif %}
        {% endfor %}
    </table>

{% else %}
    <h3>Debe iniciar sesión para ver el listado</h3>
    
{% endif %}


{% endblock %}