{% extends 'base.html' %}

{% block title %}
    Modificar Publicacion
{% endblock %}



{% block contenido %}

<div class="grey">
    <div class="container" id="fh5co-features"> 
        <div class="heading animate-box"><h2><b><span class="nav-brand">Aqui puedes modificar tu publicacion</span></b></h2></div>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}         
            </table>
            <input type="submit" value="Modificar">
        </form>

        {{ mensaje }}
    </div>
</div>

{% endblock %}