{% extends 'base.html' %}


{% load static %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'js/confirmar_publicacion_subida.js' %}"></script>
{% endblock %}


{% block title %}
    Ingreso de Mascota
{% endblock %}

{% load crispy_forms_tags %}

{% block contenido %}
    <h3>Aqui se ingresan las Mascotas</h3>
    
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
 
        {{ form_e | crispy }}         <!-- para que se epueda ver dentro de la tabla-->

        <div class="float-right">
            <input type="submit" value="Publicar" onclick="ConfirmarPublicacionSubida()" class="btn btn-success">
        </div>
        
    </form>

    {{ mensaje }}
{% endblock %}