{% extends 'base.html' %}

{% block title %}
    Ingreso de Mascota
{% endblock %}

{% load crispy_forms_tags %}

{% block contenido %}
    <h3>Aquí ingresas la Mascota Encontrada</h3>
    
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
 
        <div class="row">
            {{ form_e.estado |as_crispy_field }}
            <div class="col-6">
              {{ form_e.tipo|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form_e.barrio|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form_e.raza|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form_e.nombre|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form_e.mail|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form_e.telefono|as_crispy_field }}
            </div>
            <div class="col-6">
                <p>Fecha*</p>
                {{ form_e.fecha }}
            </div>
            <div class="col-6">
                {{ form_e.imagen|as_crispy_field }}
            </div>
        </div>

        {{ form_e.descripcion|as_crispy_field }}

        <div class="float-right">
            <input type="submit" value="Publicar" class="btn btn-success">
        </div>
        
    </form>

    {{ mensaje }}
{% endblock %}