{% extends 'base.html' %}


{% load static %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'js/confirmar_publicacion_subida.js' %}"></script>
{% endblock %}


{% block title %}
    Ingreso de Mascota
{% endblock %}



{% block contenido %}

<div class="white">
    <div class="container">
        <div class="heading animate-box"><h2><b><span class="nav-brand">Ingreso de mascotas encontradas</span></b></h2></div>
        
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form_e.as_table }}         <!-- para que se epueda ver dentro de la tabla-->
                </table>

                <input type="submit" value="Publicar" onclick="ConfirmarPublicacionSubida()">
            </form>

            {{ mensaje }}
    </div>
</div>

{% endblock %}