{% extends 'base.html' %}

{% block title %}
    Ingreso de Mascota
{% endblock %}

{% load crispy_forms_tags %}

{% block contenido %}
    <h3>Aquí ingresas la Mascota Perdida</h3>

    <form action="" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
              {{ form.tipo|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.barrio|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.raza|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.telefono|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.nombre|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.mail|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.fecha|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.imagen|as_crispy_field }}
            </div>
        </div>
        {{ form.descripcion|as_crispy_field }}
        <div class="float-right">
            <input type="submit" value="Publicar" class="btn btn-success">
        </div>
    </form>

    {{ mensaje }}
{% endblock %}