{% extends 'base.html' %}


{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_ver_publicacion.css' %}">
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock %}


{% block title %}
    Publicacion
{% endblock %}


{% block contenido %}

    <div class="bloque-titulo-pub">
        <h3 id="titulo_publicacion">Estado de la publicación: {{ publicacion.estado|lower }}</h3>
        <p class="numero-publicacion">Publicación  #{{ publicacion.id }}</p>
        
    </div>

    <div id="foto_publicacion">
        <a href="#" onclick="Swal.fire({
            imageUrl: '{{ publicacion.imagen.url }}',
            imageAlt: 'Imagen de la Publicacion'
            })">  
            <img src="{{ publicacion.imagen.url }}" alt="" class="imagenes">
        </a>
    </div>

    <div id="info_publicacion">
        <p>Fecha: {{ publicacion.fecha }}</p>

        <p>Raza: {{ publicacion.raza|title }}</p>

        <p>Estado de la mascota: <span style="color: rgb(3, 173, 80);">{{ publicacion.estado|title }}</span></p>

        <p>Barrio: {{ publicacion.barrio|title }}</p>

        <p>Descripción de la mascota: {{ publicacion.descripcion }}</p>
    </div>

    <div id="contacto_publicacion">
    </div>
    
{% endblock %}